*{
    margin: 0px;
    padding: 0px;
    font-family: Lato,sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("background.jpg");
    background-size: 100%;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

.logo{
    width:100px ;
    height: auto;
    margin-left: 100px;
    margin-top: 30px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 50px 50px;
  }
  
.topnav a:hover {
    cursor: pointer;
    color: burlywood;
  }
#content{
    color: #fff;
    margin-top: 60px;
    margin-left: 100px;
    
}

.title{
    color:burlywood;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    word-spacing: 3px;

}
.para{
    text-align: justify;
    margin-right: 700px;
    font-size: 18px;
    font-family: Lato,sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 2;
    animation-name: slideup;
    animation-duration: 3s;
    animation-direction: smooth;
    animation-play-state: running;
}
@keyframes slideup {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
    }
.btn:link,
.btn:visited{
    margin-top: 50px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-colour 0.2s,border 0.2s,color 0.2s;
    font-size: 20px;
    animation-name: slideup;
    animation-duration: 3s;
    animation-direction: smooth;
    animation-play-state: running;
}
.btn-1:link,
.btn-1:visited{
    background-color: burlywood;
    color: white;
    border: 1px solid burlywood;
    margin-right: 25px;
}
.btn-2:link,
.btn-2:visited{
    color: burlywood;
    border: 1px solid burlywood;
}
.btn:hover,
.btn:active{
    background-color: #B87333;
}
.btn-2:hover,
.btn-2:hover{
    border: 1px solid B87333;
    color: white;
}
.btn-1:hover,
.btn-1:hover{
    border: 1px solid B87333;
}
footer {
    background-color: black;
    color: white;
    bottom: 0;
    font-size: 16px;
    overflow: hidden;
    margin-top: 210px;
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-top: 10px;
    color: white;
  }
  
.row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
    margin-left: 50px;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: burlywood;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color: #c7940a;
  }
  .subscribe{
    margin-left: 10px;
  }

  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #B87333;
  }
  button:hover {
    cursor: pointer;
    opacity:.9;
    background-color: burlywood;
  }
  .input1{
    width: 400px;
    margin-left:0px ;
    color: #B87333;
  }
  button {
    background-color: #B87333;
    color: #ffffff;
  }
 .socials{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left:-195px ;

}
.socials li{
    margin: 30px 10px;
}
.socials a{
    text-decoration: none;
    border: 1.1px solid burlywood;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #B87333;
}
  